table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.allUserscontainer {
    margin-top: 10px;
}

.manageTitle {
    text-align: center;
}

.deleteUser {
    color: red;
    font-weight: bold;
}

.deleteSeparator {
    color: black !important;
}
