.container {
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    background-color: #b4a344;
    color: #FFFFFF;
}

button {
    float: right;
    border: none;
    color: white;
    cursor: pointer;
}

.deletebutton {
    background-color: red;
}

.modifybutton {
    background-color: blue;
}

i {
    float: right;
}

.fa-pen {
    font-size: 16px;
    margin-right: 0px;
}

.fa-eye-slash {
    font-size: 16px;
    margin-right: 5px;
}

.postIcons {
    float: right;
}
.tagsOfPosts {
    color: DarkGrey;
}

.loading {
    text-align: center;
}
