.container {
    margin-left: 30%;
    margin-right: 30%;
}

.postheader h1 {
    background-color: #b4a344;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 3px;
    text-align: center !important;
}

.postheader h1:hover {
    background-color: #967f2b;
}

.postheader a {
    color: #FFFFFF;
    text-decoration: none;
}

.postheader a:hover {
    color: #ddca61;
}


.modifybutton {
    background-color: #4f8dea;
    height: 30px;
    width: 30px;
    margin: 1px;
    border-radius: 10px;
    float: right;
    border: none;
    color: white;
    cursor: pointer;
}

.modifybutton:hover {
    background-color: #3071d3;
}

i {
    float: right;
}

.fa-pen {
     font-size: 16px;
     margin-right: 0px;
}

.fa-times {
    font-size: 16px;
    margin-right: 3px;
}

.fa-eye-slash, .fa-eye {
    font-size: 16px;
    margin: 7px;
}

.postIcons {
    float: right;
}
.tagsOfPosts {
    color: #ddca61;
}

.loading {
    text-align: center;
}

