.comment {
    border: 2px solid red;
    border-radius: 8px;
    margin-top: 5px;
}

.commentContent {
    word-wrap: break-word;
    margin: 5px;
}

.newComment {
    height: 200px;
}

.floatRight {
    display: inline-block;
}

.commentSubmitButton{
    text-align: right !important;
    float:right !important;;
}
