@charset "UTF-8";

body {
    font-family: Calibri;
}

nav.header {
    width: 100%;
    display: block;
    position: relative;
    background-color: #b41b23;
    top: 0px;
    height: 70px;
    font-family: 'Gloria Hallelujah', cursive;
}

nav.header a {
     margin-top: 27px;
     margin-left:1%;
     color: #FFFFFF;
     text-transform: uppercase;
     text-decoration: none;
     display: inline-block;
     font-weight: bold;
     font-size: .9em;
 }

.footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #b41b23;
    color: #FFFFFF;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.newpostlink {
    float: right;
    margin-right: 5%;
}

.loginlink {
    float: right;
    margin-right: 0px;
}

.registerlink {
    float: right;
    margin-right: 5%;
}

.blog-posts {
    margin-bottom: 60px;
}

.right-float {
    margin-right: 5%;
    width: 20%;
    float: right;
    background: #61dafb;
}

.nopostsimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px;
}
