.required label {
    font-weight: bold;
}
.required label:before {
    color: red;
    content: '* ';
    display: inline;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 300px;
    resize: none;
}

.newpostheader h1 {
    background-color: #b4a344;
    color: #ffffff;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 3px;
}

input[readOnly] {
    color: grey;
}

small {
    font-weight: normal;
    color: dimgrey;
}

.container {
    margin-bottom: 70px;
}

.app-button{
    float:none;
    color: white;
    width: 100px;
    height: 50px;
    margin: 2px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.delete-button {
    background-color: red;
}

.delete-button:hover{
    background-color: darkred;
}

.submit-button {
    background-color: #4f8dea;
}

.submit-button:hover {
    background-color: darkblue;
}

.cancel-button {
    background-color: #444444;
}
.cancel-button:hover {
    background-color: #111111;
}

.row{
    text-align:center;
}

.editorClassName{
    border-style: groove;
    height: 400px !important;
}
