.search {
    margin-top:20px;
    box-sizing: border-box;
}

.searchInput {
    padding: 6px;
    font-size: 17px;
    height:40px;
    width:90%;
    box-sizing: border-box;
}

.searchButton {
    padding: 6px;
    background: #ddca61;
    font-size: 17px;
    height:40px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
    float:right;
}

.searchButton:hover {
    background: #967f2b;
}