.container {
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    background-color: #b4a344;
    color: #FFFFFF;
}

.deletebutton {
    float: right;
    background-color: red;
    border: none;
    color: white;
}
